.button {
    width: 157px;
    height: 47px;
    background-color: #FF7400;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    text-transform: uppercase;
    text-align: center;
    padding-top: 14px;
    cursor: pointer;
    &:hover {
        background-color: $main_color;
    }
}