.catalog {
    margin-top: 130px;
    &__wrapper {
        margin-top: 100px;
        display: flex;
        justify-content: space-between;
    }
    &__block {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__item {
        display: grid;
        grid-template-columns: 160px 465px;
        column-gap: 30px;
    }
    &__price {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: 'Tinos';
        font-style: normal;
        font-weight: 400;
        font-size: 26px;
        line-height: 30px;
        color: #000000;
        span {
            display: block;
            width: 204px;
            border-bottom: 2px dotted #000
        }
    }
    &__title {
        text-align: center;
        font-family: 'Tinos';
        font-style: normal;
        font-weight: 400;
        font-size: 54px;
        line-height: 62px;
        color: #000000;
        span {
            color: $main_color;
            font-family: 'Tinos';
            font-style: normal;
            font-weight: 400;
            font-size: 54px;
            line-height: 62px;
        }
    }
}