.gallery {
    min-height: 578px;
    padding-top: 100px;
    &__wrapper {
        margin-top: 60px;
        display: grid;
        grid-template-columns: repeat(4, 255px);
        grid-template-rows: repeat(2, 274px);
        gap: 30px;    
    }
    &__works {
        object-fit:cover;
        
        img {
            width: 100%;
            height: 100%;
        }
    }
    .first {
        grid-column: 1 / 3;
    }
    .second {
        grid-column: 3 / 5;
    }
    &__title {
        text-align: center;
        font-family: 'Tinos';
        font-style: normal;
        font-weight: 400;
        font-size: 54px;
        line-height: 62px;
        color: #000000;
        span {
            color: $main_color;
            font-family: 'Tinos';
            font-style: normal;
            font-weight: 400;
            font-size: 54px;
            line-height: 62px;
        }
    }
}