.history { 
    margin-top: 370px;
    min-height: 500px;
    &__block {
        display: grid;
        grid-template-columns: 450px 540px;
        column-gap: 125px;
    }
    &__title {
        text-align: center;
        font-family: 'Tinos';
        font-style: normal;
        font-weight: 400;
        font-size: 54px;
        line-height: 62px;
        color: #000000;
        span {
            color: $main_color;
            font-family: 'Tinos';
            font-style: normal;
            font-weight: 400;
            font-size: 54px;
            line-height: 62px;
        }
    }
    &__descr {
        margin-top: 20px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        color: #656363;
        text-align: center;
    }
    &__item {
        margin-top: 100px;
        display: flex;
        justify-content: space-around;
        &-count {
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 40px;
            line-height: 35px;
            text-align: center;
            color: #BC9060;
            span {
                font-family: 'Open Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                text-align: center;
                color: #000000;
            }
        }
    }

}